<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/form.css">

<body>
    <form id="form" action="register" >
        <div class="form-group">
          <label for="name" class="form-label">First name:</label>
          <input type="text" class="form-control" id="fname" name="name" placeholder="Enter your first name">
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
        </div>
        <div class="form-group">
          <label for="phone" class="form-label">Phone:</label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
<script>
  let formmy = document.getElementById('form')
   const namemy = document.getElementById('fname');
   const emailmy = document.getElementById('email');
   const phonemy = document.getElementById('phone');
   formmy.addEventListener('submit',(ev) => {
      ev.preventDefault();
      //  console.log(namemy)

      let obj = {
        name:namemy.value,
        email:emailmy.value,
        phone:phonemy.value
      }

      //console.log(obj);
      axios.post('http://localhost:8000/register', obj)
  .then(function (response) {
    console.log(response);
    // window.location.href='/status.html';
  })
  .catch(function (error) {
    console.log(error);
  });

      
   })


</script>
</html>